@import '../../assets/styles/colors.scss';

.stat-label {
    margin: 10px 0px 0px;
    display: flex;
    justify-content: space-between;
}

.mat-card {
    cursor: pointer;
    transition: 0.1s;
    &:hover {
        background-color: $color-light-grey;
    }
    &:active {
        background-color: $color-grey;
    }
}