<mat-drawer-container class="nav-container" autosize>
    <mat-drawer [opened]="true" #drawer class="nav-bar" mode="side">
        <button routerLinkActive="active-link" routerLink="/stats">Estatísticas</button>
        <button routerLinkActive="active-link" routerLink="/bar">Bar</button>
        <button routerLinkActive="active-link" routerLink="/events">Eventos</button>
        <button routerLinkActive="active-link" routerLink="/workers">Empregados</button>
    </mat-drawer>

    <div class="top-nav">
        <button class="menu-toggle" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div class="main-container">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>